.guideContainer {
  color: white;
  display: flex;
  flex-direction: row;

}

.guideContainer .guideTabWrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.guideContainer .guideTabWrapper .guideTab {
  list-style: none;
  width: 80px;
  height: 34px;
  border: 1px solid #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;

  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.guideContainer .guideContentsWrapper {
  border-radius: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  padding: 0 41px 19px 41px;
  width: 920px;
  height: 800px;

  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(3px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


.guideContainer .guideContentsWrapper .guideContentsHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guideContainer .guideContentsWrapper .guideTableWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 48px;
  column-gap: 10px;
}

.guideContainer .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 10px;
}

.guideContainer .pagination button {
  border: none;
  background-color: transparent;
  color: white;
}