.footerContainer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    height: 367px;
    margin: auto;
    width: 1920px;
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    height: 29px;
}