.rightSidebarContainer {
    width: 800px;
    height: 100vh;
    padding-left: 20px;
}

.rightSidebarWrapper {
    
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: black;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding:19px 33px 0px 31px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);

}

.titleContainer{
    margin-bottom: 15px;
    color: #FF8C00;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    font-weight: 700;
}

.contentContainer{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 13px;
}

.contentContainer div{
    color:white;
}