.boxContainer{
    width: 920px;
    height: 648px;
    background-color: black;
    border-radius: 30px;
    padding:31px 83px 36px 83px;
    background-color: rgba(255,255,255,0.13);
backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.boxInner{
    width: 756px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 첫번째 줄(타이틀) */
.firstRowContainer{
    margin: 0 auto;
    height: 35px;
    flex-shrink: 0;
}

.firstRowContainer .titleText{
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}
/* 두번째 줄 */
.secondRowContainer{
    width:502px;
    height:162px;
    border:1px solid white;
    border-radius: 20px;
    background: #293047;
    padding:30px 70px;
    margin:0 auto;
backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.secondRowContainer .secondRowInner{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondRowContainer .firstDivContainer{
    border:1px solid white;
    height:40px;
    border-radius: 10px;
    background-color: black;
    padding:12px 9px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.firstDivContainer div{
    color:white;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
.secondRowContainer .firstDivWrapper{
    border:1px solid white;
    height:18px;
}

.secondRowContainer .secondDivContainer{
    border:1px solid white;
    height:40px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: end;
    padding:12px 9px;
    backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.secondDivContainer div{
    color:white;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
/* 세번째 줄 */
.thirdRowContainer{
    width:702px;
    height: 38px;
    margin:0 auto;
}

.thirdRowContainer .thirdRowWrapper{
    display: flex;
    justify-content: space-between;
}

.thirdRowContainer .itemBtn{
    width: 112px;
    height:36px;
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.thirdRowContainer .itemBtnText{
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* 네번째 줄 */
.fourthRowContainer{
    margin:0 auto;
    width: 580px;
    height:34px;
}

.fourthRowContainer .fourthRowWrapper{
    display: flex;
    justify-content: space-between;
}

.fourthRowContainer .fourthRowBtn1{
    width: 280px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #B22222;
    backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.fourthRowContainer .fourthRowBtn2{
    width: 280px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4169E1;
    backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.fourthRowContainer .fourthRowBtnText{
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 다섯번째 줄 */
.fifthRowContainer{
    margin:0 auto;
    width: 756px;
    height:176px;
    border:1px solid white;
    border-radius: 20px;
    background: #293047;
    backdrop-filter: blur(3px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
    
}
.fifthRowContainer .fifthRowWrapper{
    padding:68px 0px;
}
.fifthRowText{
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}