.signUpContainer {
  width: 890px;
  height: 790px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpInnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #4169E1;
  position: relative;
  border-radius: 20px;
  width: 700px;
  height: 674px;
}

.signUpGridWrapper {
  width: 655px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
  align-items: center;
}

.signUpGridWrapper div {
  width: 320px;
  height: 42px;
  background-color: black;
  border-radius: 5px;
}

.bannerWrapper {
  display: flex;
  justify-content: space-between;
  width: 655px;
  margin-top: 30px;
}

.banner {
  width: 320px;
  height: 120px;
  background-color: #4169E1;
  border-radius: 10px;
}

.script {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 15px;
}

.signUpBtnWrapper {
  margin-top: 15px;
}

.signUpBtn {
  color: white;
  background-color: #4169E1;
  border: none;
  width: 200px;
  height: 42px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
}