.historyContainer {
    color: white;
    display: flex;
    flex-direction: row;
}

.historyContainer .historyTabWrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.historyContainer .historyTabWrapper .historyTab {
    list-style: none;
    width: 80px;
    height: 34px;
    border-radius: 5px 5px 0px 0px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.historyContainer .historyContentsWrapper {
    width: 932px;
    border-radius: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    padding: 0 41px 19px 41px;

    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.historyContainer .historyContentsWrapper .historyContentsHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historyContainer .historyContentsWrapper .historyContentsHead .readSelDelBtn {
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-right: 7px;
    height: 20px;
}

.historyContainer .historyContentsWrapper .historyContentsHead .readAllDelBtn {
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.historyContainer .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 10px;
}

.historyContainer .pagination button {
    border: none;
    background-color: transparent;
    color: white;
}