.chargeContainer {
    display: flex;
    flex-direction: row;
}

.boxContainer{
    width: 600px;
    height: 438px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 30px;
    padding:36px 20px 20px 20px;
}

.boxWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 첫번째줄 */
.firstRowContainer{
    display: flex;
    justify-content: space-between;

}
.firstRowContainer .firstDivWrapper{
    border:1px solid white;
    border-radius: 10px;
    width:272px;
    height:42px;
    color: #FFF;
    font-family: 'NanumSquareNeo-Variable';

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:12px 11px;
    background-color: gray;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.firstRowContainer .secondDivWrapper{
    display: flex;
    justify-content: flex-end;
    border:1px solid white;
    align-items: center;
    border-radius: 10px;
    width:272px;
    height:42px;
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding:12px 11px;
    background-color: gray;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
/* 두번째줄 */

.secondRowContainer{
    display: flex;
    justify-content: space-between;
}
.secondRowContainer .firstDivWrapper{
    width:138px;
    height:42px;
    border:1px solid white;
    border-radius: 10px;
    background-color: black;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.secondRowContainer .secondDivWrapper{
    width: 170px;
    height:42px;
    border:1px solid white;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);

}
.secondRowContainer .thirdDivWrapper{
    width: 104px;
    height:42px;
    border:1px solid white;
    border-radius: 10px;
    background-color: black;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);

}
.secondRowContainer .fourthDivWrapper{
    width: 126px;
    height:42px;
    border:1px solid white;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.secondRowContainer div{
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    /* font-size: 14px; */
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
/* 세번째줄 */
.thirdRowContainer{
    display: flex;
    justify-content: space-between;
}

.thirdRowContainer .boxItem{
    width: 83px;
    height:36px;
    border:1px solid white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.boxItem div{
    color:white;
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
/* 네번째줄 */
.fourthRowContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourthRowContainer .userAccInfoTextWrapper{
    height: 16px;
    flex-shrink: 0;
    margin:0 auto;
}

.fourthRowContainer .userAccInfoText{
    color: #FF8C00;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fourthRowContainer .userAccInfoBox{
    width:418px;
    height:42px;
    border:1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 11px;
    background-color: black;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.userAccInfoBox div{
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
/* 다섯번째 */
.fifthRowContainer .bigBoxWrapper{
    width: 560px;
    height: 150px;
    border:1px solid white;
    border-radius: 10px;
    padding:21px 0px 13px 31px;
    background-color: black;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.fifthRowContainer .bigBoxInner{
    height:114px;
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    
}
