.boxContainer{
    width: 920px;
    height: 737px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #000;
    padding-top: 34px;
    padding-right:18px;
    padding-left: 20px;
}

.boxWrapper{
    height: 100%;
    border:1px solid white;
}

.titleContainer{
    height: 26px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}