.boxContainer{
    width: 920px;
    min-height: 737px;
    /* max-height: 864px; */
    flex-shrink: 0;
    border-radius: 30px;
    background: #000;
    padding-top: 34px;
    padding-right:18px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.boxWrapper{
    /* height: 100%; */
}

.titleContainer{
    height: 26px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 36px;
}

