.leftSidebarContainer {
    width: 500px;
    height: 100vh;
    position: absolute;
}

.leftSidebarContainer .sidebarWrapper {
    width: 250px;
    margin-left: 200px;
}

.leftSidebarContainer .sidebarWrapper .profile {}

.leftSidebarContainer .sidebarWrapper .contentsBox {}

.leftSidebarContainer .sidebarWrapper .banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
}

.leftSidebarContainer .sidebarWrapper .banner div {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-color: #f9b17a;
}

.leftSidebarContainer .sidebarWrapper .banner div:nth-child(2) {
    background-color: skyblue;
    background-image: url('../../../../public/asset/images/telegram.jpeg');
    background-size: contain;
}

.leftSidebarContainer .sidebarWrapper .banner div:nth-child(3) {
    background-color: gold;
    background-image: url('../../../../public/asset/images/kakao.png');
    background-size: contain;
}

.leftSidebarContainer .sidebarWrapper .banner div:nth-child(4) {
    background-color: rgb(3, 149, 216);
}