.boxWrapper {
    /* border-top: 1px solid black; */
  }
  
  .itemWrapper {
    padding: 9px 9px 10px 14px;
    background-color: rgba(58, 55, 55, 0.47);
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    transition: 0.3s all;
    color:white;
  }
  .itemWrapper:hover{
    background-color: #1d9bf0;
    transition: 0.3s all;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    /* color:black; */
  
  }
  .itemInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
  }
  
  .itemText {
    font-family: "NanumSquareNeo-Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .itemIcon {
    color: white;
    font-family: "NanumSquareNeo-Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .dropDownList {
    transition: all 0.5s;
  }
  
  .dropDownInner {
  }
  
  .dropDownItem {
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }
  
  .dropDownItem:hover{
    background-color: #1d9bf0;
    transition: 0.3s all;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    color:white;
  }
  .dropDownItemInner {
    padding: 8px 144px 9px 54px;
  }
  
  .dropDownText {
    width: 180px;
    height: 16px;
    font-family: "NanumSquareNeo-Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  
  