.boxContainer{
    width:920px;
    height: 546px;
    border:1px solid black;
}

.boxWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottomContainer{
    width: 902px;
    display: flex;
    justify-content: space-between;
}