.boxContainer{
    width: 166px;
}

.titleContainer{
    height: 26px;
    flex-shrink: 0;
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}


.boxWrapper button{
    width: 164px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #1a74e2;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.boxWrapper button:hover{
    background-color: #1d9bf0;
  transition: 0.5s all;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.boxWrapper button div{
    height: 11px;
    flex-shrink: 0;
    color: #FFF;
        font-family: 'NanumSquareNeo-Variable';

    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
}