.boxContainer{
    width:920px;
    height:268px;
    border-radius: 30px;
    background: #000;
    padding:34px 239px 42px 20px; 
}

.boxWrapper{
    height: 100%;
    display:flex;
    justify-content: space-between;
}