.footerContainer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    height: 367px;
    margin: auto;
    width: 1920px;
}

.footerContainer .footerMenuContainer,
.footerMenuContainer {
    height: 267px;
    border-bottom: 1px solid white;
    width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.footerContainer .footerMenuContainer div,
.footerMenuContainer div {
    border: 1px solid white;
    width: 150px;
    border-collapse: separate;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    height: 29px;
}