@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter'; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var'; }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: inter;
  background-image:url('../img/black-370118_1920.png');
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    /* background: black; */
  }
}