.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 367px; */
  min-height: 100vh;
}

.noneMain {
  padding-top: 36px;
  padding-left: 500px;
  min-height: 100vh;
}