.noteListTable {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    /* 테이블 최상단에 border-collapse */
    border-collapse: collapse;
}

.noteListTable tr {
    height: 36px;
}

.noteListTable th,
.noteListTable td {
    border: 1px solid white;
    padding: 0;
}

.noteListTable td {
    font-size: 14px;
}